{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="title-style">
        <h4>
            Add Your Chempion
        </h4>
    </div>
    <div class="row form-bg-col">
        <form class="col s12" method="POST" action="{{ url_for('add_chempion') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-images"></i>
                    <input id="chempion_img" type="text" name="chempion_img" class="validate" placeholder="eg. 1 hr and 15 mins"
                        value="" required>
                    <label for="chempion_text">Chempion Image</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pen"></i>
                    <input id="chempion_title" type="text" name="chempion_title" class="validate" placeholder="eg. 1 hr and 15 mins"
                        value="" required>
                    <label for="chempion_title">Chempion Title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-trophy"></i>
                    <input id="chempion_text" type="text" name="chempion_text" class="validate" placeholder="eg. 1 hr and 15 mins"
                        value="" required>
                    <label for="chempion_text">Chempion Info</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="waves-effect red lighten-4 btn button-style">Add Chempion</button>
                    <a href="{{ url_for('champion') }}" class="waves-effect red lighten-4 btn button-style">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}