{% extends "base.html" %}
{% block content %}
<!--Champion Part-->

<div class="album py-5 bg-light">
  <div class="container" id="classesypage">


    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

          <img src="images.read/bully1.PNG" class="card-img-top services_img"></img>

          <div class="card-body ">
            <h5 class="card-title"> CH, JR CH, INT CH MARMADUKE MY GAL BULL </h5>
            <p class="card-text services_text">Gal is our top rated boy. Born 21/09/2015 in Ireland, he is gold pedigree dog with 13 Chempion in bloodline. For stud please contact us. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button id="bcolor"type="button" class="btn btn-sm btn-outline-secondary" href="contact.html">CONTACT US</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

            <img src="images.read/bully2.PNG" class="card-img-top services_img"></img>

          <div class="card-body ">
              <h5 class="card-title"> INT.CH. BRITISHPRIDE ROYAL FLUSH </h5>
            <p class="card-text services_text">This is Flesh our boy born 27/09/2016 in Ireland. He is International Champion for 2019 with a silver pedigree and 10 champions in his bloodline. For stud please contact us.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button  id="bcolor" type="button" class="btn btn-sm btn-outline-secondary" href="contact.html">CONTACT US</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          
          <img src="images.read/bully3.PNG"  class="card-img-top services_img"></img>

          <div class="card-body ">
              <h5 class="card-title"> INFALLIBULLS MADEMOISELLE </h5>
            <p class="card-text services_text">This lady is Lea. Born 13/05/2017 on in Belgium and transport to Ireland. For more info please contact us .  </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button id="bcolor" type="button" class="btn btn-sm btn-outline-secondary">CONTACT US</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

           <img src="images.read/bully7.PNG" class="card-img-top services_img"></img>

          <div class="card-body">
              <h5 class="card-title"> GLOWLITE INSTANT MAGIC </h5>
            <p class="card-text services_text"> Glow is young girl 14/01/2018 on Ireland. For more info please contact us. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button id="bcolor" type="button" class="btn btn-sm btn-outline-secondary">CONTACT US</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

          <img src="images.read/bully8.PNG" class="card-img-top services_img"></img>

          <div class="card-body">
              <h5 class="card-title"> MULTI CH BULL DOZER </h5>
            <p class="card-text services_text"> Dozer is our multi champion from our litter. Born 16/06/2019 on Ireland. A young boy with good predispositions and a boy with 16 champions in bloodline. For stud  or more info please contact us. </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button id="bcolor" type="button" class="btn btn-sm btn-outline-secondary">CONTACT US</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

          <img src ="images.read/bully9.PNG" class="card-img-top services_img"></img>

       <div class="card-body">
           <h5 class="card-title"> CLERKENWELL GIMME GIMME GIMME </h5>
            <p class="card-text services_text"> Gimme is Dozer sister, beautiful lady with amazing pedigree and amazing character. For more info please contact us.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button id="bcolor" type="button" class="btn btn-sm btn-outline-secondary">CONTACT US</button>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
   </div/>
 </div>
</div>
 {% endblock %}