{% extends "base.html" %}
{% block content %}
<!--Champion Part-->

<div class="album py-5 bg-light">
  <div class="container" id="classesypage">


    <div class="row">
      {% for chempion in chempion_list %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">

          <img src="{{chempion.img}}" class="card-img-top services_img"></img>

          <div class="card-body ">
            <h5 class="card-title">{{chempion.title}}</h5>
            <p class="card-text services_text">{{chempion.text}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button id="bcolor"type="button" class="btn btn-sm btn-outline-secondary" href="contact.html">CONTACT US</button>
              </div>
            </div>
          </div>
        </div>
    </div>
   {% endfor %}
   </div/>
 </div>
</div>
 {% endblock %}