{% extends "base.html" %}
{% block content %}
<!--Contact Form-->

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input disabled value="I am not editable" id="disabled" type="text" class="validate">
        <label for="disabled">Disabled</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        This is an inline input field:
        <div class="input-field inline">
          <input id="email_inline" type="email" class="validate">
          <label for="email_inline">Email</label>
          <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
        </div>
      </div>
    </div>
  </form>
</div>

<!--<div class="container">
    <div class="">
    
 <section class="contact-wrap">
   <form onsubmit="return sendMail(this);" method = "POST">
     <div class="col-sm-6" id="booking">
       <div class="input-block">
         <label for="">First Name</label>
         <input type="emailaddress " class="form-control" name="firstname">
       </div>
     </div>
     <div class="col-sm-6">
       <div class="input-block">
         <label for="">Last Name</label>
         <input type="emailaddress " class="form-control" name="lastname">
       </div>
     </div>
     <div class="col-sm-12">
       <div class="input-block">
         <label for="">Email</label>
         <input type="emailaddress  " class="form-control" name="email">
       </div>
     </div>
     <div class="col-sm-12">
       <div class="input-block textarea">
         <label for="">Drop your message here</label>
         <textarea rows="3" type="emailaddress " class="form-control" name="message"></textarea>
       </div>
     </div>
     <div class="col-sm-12">
       <input id="submit" class="btn btn-primary" type="submit" value="Submit">
     </div>
   </form>
 </section>
</div>
</div>

{% endblock %}