{% extends "base.html" %}
{% block content %}
<!--Contact Form-->

<div class="container">
    <div class="">
    
 <section class="contact-wrap">
   <form onsubmit="return sendMail(this);" method = "POST">
     <div class="col-sm-6" id="booking">
       <div class="input-block">
         <label for="">First Name</label>
         <input type="emailaddress " class="form-control" name="firstname">
       </div>
     </div>
     <div class="col-sm-6">
       <div class="input-block">
         <label for="">Last Name</label>
         <input type="emailaddress " class="form-control" name="lastname">
       </div>
     </div>
     <div class="col-sm-12">
       <div class="input-block">
         <label for="">Email</label>
         <input type="emailaddress  " class="form-control" name="email">
       </div>
     </div>
     <div class="col-sm-12">
       <div class="input-block textarea">
         <label for="">Drop your message here</label>
         <textarea rows="3" type="emailaddress " class="form-control" name="message"></textarea>
       </div>
     </div>
     <div class="col-sm-12">
       <input id="submit" class="btn btn-primary" type="submit" value="Submit">
     </div>
   </form>
 </section>
</div>
</div>

{% endblock %}