{% extends "base.html" %}
{% block content %}
<!--Contact Form-->

<div class="container">
    <div class="title-style">
      <h4>Contact Us</h4>
    </div>
  <div class="">
  
    <section class="contact-wrap">
    <form onsubmit="event.preventDefault(); sendMail(this);" method = "POST">
    <div class="col-sm-6" id="booking">
      <div class="input-block">
      <label>First Name</label>
      <input type="text" class="form-control" name="firstname" required >
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-block">
      <label>Last Name</label>
      <input type="text" class="form-control" name="lastname" required >
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block">
      <label>Email</label>
      <input type="email" class="form-control" name="email" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+" >
      </div>
    </div>
    <div class="col-sm-12">
      <div class="input-block textarea">
      <label>Drop your message here</label>
      <textarea rows="3" class="form-control" name="message" required></textarea>
      </div>
    </div>
    <div class="col-sm-12">
      <button id="submit" class="waves-effect red lighten-4 btn" type="submit" value="Submit">Submit</button>
    </div>
    </form>
    </section>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <p>Your email has been sent successfully.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect red lighten-4 btn-flat">Close</a>
  </div>
</div>

{% endblock %}