{% extends "base.html" %}
{% block content %}
<!--Pupy Part-->

<div class="album py-5 bg-light">
    <div class="container" id="classesypage">

      <div class="row">
        {% for bully in bully_list %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

              <img src="{{bully.img}}" class="card-img-top puppy_img"></img>

              <div class="card-body">
                <p class="card-text"></p>
                <h4>{{bully.first}}</h4>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted"> {{bully.gender}}</small>
                  <small class="text-muted"> {{bully.hair_color}}</small>
                  <small class="text-muted"> {{bully.dob}}</small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}

